#include <windows.h>
#include "../src/resource.h"

IDI_APP_ICON ICON "app.ico"

// Main Menu
IDM_MENU MENU
BEGIN
    POPUP "&Dosya"
    BEGIN
        MENUITEM "&Çıkış", IDM_FILE_EXIT
    END
    POPUP "&Ayarlar"
    BEGIN
        MENUITEM "&Lisans Bilgisi", IDM_SETTINGS
        MENUITEM SEPARATOR
        MENUITEM "&Seçenekler", 1100
    END
    POPUP "&Yardım"
    BEGIN
        MENUITEM "&Hakkında", IDM_HELP_ABOUT
        MENUITEM "&Destek", IDM_HELP_SUPPORT
        MENUITEM SEPARATOR
        MENUITEM "GitHub (github.com/sametre)", IDM_GITHUB
        MENUITEM "Web Sitesi (temasre.shop)", IDM_WEBSITE
    END
END

// String Resources (Türkçe)
STRINGTABLE
BEGIN
    IDS_APP_TITLE            "PC - POS Network Manager"
    IDS_APP_DESCRIPTION      "Ağ Bağlantı Yöneticisi"
    IDS_MENU_FILE            "Dosya"
    IDS_MENU_EXIT            "Çıkış"
    IDS_MENU_SETTINGS        "Ayarlar"
    IDS_MENU_HELP            "Yardım"
    IDS_MENU_ABOUT           "Hakkında"
    IDS_MENU_SUPPORT         "Destek"
    IDS_MENU_GITHUB          "GitHub: github.com/sametre"
    IDS_MENU_WEBSITE         "Web: temasre.shop"
    IDS_STATUS_READY         "Hazır"
    IDS_LICENSE_ACTIVE       "Lisans: Aktif"
    IDS_LICENSE_EXPIRED      "Lisans: Süresi Dolmuş"
    IDS_LICENSE_DAYS_LEFT    "Kalan Gün:"
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041F04E6"
        BEGIN
            VALUE "CompanyName", "ReSoft\0"
            VALUE "FileDescription", "PC - POS Network Manager\0"
            VALUE "FileVersion", "1.0.0\0"
            VALUE "InternalName", "PcPosNetworkManager\0"
            VALUE "LegalCopyright", "Copyright (C) 2026 ReSoft\0"
            VALUE "OriginalFilename", "PcPosNetworkManager.exe\0"
            VALUE "ProductName", "PC - POS Network Manager\0"
            VALUE "ProductVersion", "1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x041F, 1254
    END
END


